mkdocs
markdown-blockdiag>=0.3.0
markdown-i18n>=2.1.1
# Due no pypi package: https://github.com/smartboyathome/Markdown-GridTables/issues/2
https://github.com/mihkels/Markdown-GridTables/archive/master.zip
Markdown
